@font-face {
    font-family: 'Chentenario';
    src: url('Chentenario.woff2') format('woff2'),
        url('Chentenario.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

